.main-menu {
background: #73b254;
background: rgba(71, 130, 32, 0.6);
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
padding: 0;
}


#search {
background: none repeat scroll 0 0 #91c17a;
color: #4D4C4C;
float: left;
font-weight: bold;
height: 32px;
line-height: 2.6em;
margin: 1px 0 0 12px;
position: relative;
text-align: left;
text-transform: uppercase;
}

#search input {
background: none repeat scroll 0 0 transparent;
border: 0 solid #481F03;
color: #e0e0e0;
font-family: georgia;
font-size: 14px;
font-style: italic;
font-weight: normal;
height: 32px;
margin: 0 2px 0 13px !important;
padding: 0 10px 0 0;
text-align: left;
text-transform: none;
vertical-align: top;
width: 180px;
}

.featured-more a {
background: #73b254;
background: rgba(71, 130, 32, 0.6);
color: #FFFFFF;
float: right;
font-family: georgia;
font-size: 16px;
font-style: italic;
margin: 12px 0 0;
padding: 9px 20px;
text-decoration: none;
}

.front-blog-meta {
background: #73b254;
background: rgba(71, 130, 32, 0.6);
margin: 18px 0;
padding: 6px 5px 8px 15px;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #f1f2f3;
line-height: 27px;
letter-spacing: -.5px;
font-weight: 400;
text-align: left;
}

.wp-pagenavi a, .wp-pagenavi a:link {
background: #73b254 !important;
background: rgba(71, 130, 32, 0.6);
color: #FFFFFF !important;
float: right;
font-family: georgia;
font-size: 16px;
font-style: italic;
margin: 12px 0 0;
padding: 9px 20px;
text-decoration: none;
border: 0px solid #333;
}

.recent-posts-wrap {
background: #4a6040;
background: rgba(71, 130, 32, 0.7);
}

.sidebar-about {
background: none repeat scroll 0 0 #91c17a;
background: rgba(71, 130, 32, 0.6);
}

ol.commentlist li div.reply a { 
background:#73b254 !important;
}

.comments input#submit {
background: #73b254; 
border:0px solid #000; 
font-size:13px; 
padding:9px 15px 8px 15px; 
color:#fff; 
font-weight: bold; 
text-transform: uppercase; 
margin: 30px 0px 0 0; 
cursor: pointer;
width: 160px;
font-family: arial;
float: right;
font-style: normal;
text-shadow: 1px 1px 0 #000;
}