
	#search input {
	    line-height: 30px;
	}
	
	
	.front-blog {
		width: 960px;
	}
	
	.recent-posts-wrap {
		width: 900px;
	}
	
	.footer-text-wrap {
		width: 940px;
	}
	
	.main-menu ul {
		margin: 0 0 0 0px;
	}
	
	.logo-wrap {
		width: 960px;
	}
	
	.logo-wrap h4 {
		font-size: 18px;
	}
	
	/*--------------------------------------------------
	Featured
	--------------------------------------------------*/	
	.featured-wrap {
		margin: 0px auto 0px auto;
		padding: 0;
		width: 960px;
		position: relative;
		overflow: hidden;
		height: 327px;
		position: relative;
	}
	
	.featured-post {
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	.featured-post:first-child {
		z-index: 1;
	}
	
	.featured-post-ul ul {
		margin: 0;
		padding: 0;
	}
	
	.featured-post-ul ul li {
		margin: 0;
		padding: 0;
		position: absolute;
	}
	
	.featured-post-ul ul li:nth-child(1) {
		z-index: 1 !important;
	}
	
	.first-featured {
		z-index: 1;
	}
		
			.featured-wrap img {
				margin: 30px 0px 0 0px;
				padding: 0px;
				width:540px;
				height: 297px;
				float: left;
				position: absolute;
				left: 0;
				top: 0px;
			}
			
				.featured-desc {
					margin: 0 0 0 543px;
					padding: 23px 30px 20px 25px;
					float: right;
					width: 390px;
					position: relative;
				}
				
					
	.front-blog-meta {
		position: relative;
	}
	
		
		.front-blog-meta img {
			float: right;
			margin: 4px 0px 0 0 !important;
			padding: 0 !important;
			width: 18px !important;
			height: 18px !important;
			background: transparent;
			position: absolute;
			right: 15px;
			top: 5px;
		}	
		
	
.single-blog-post-wrap {
	margin: 0px 0 0px 0;
	padding: 30px 30px 30px 0;
	overflow: hidden;
	width: 960px;
}	

.sidebar {
	background: #ebece6;
	float: right;
	width: 270px;
	margin-right: 30px;
}		

.sidebar-ads {
	margin: 15px auto 15px auto;
	padding: 0 0 0 1px;
	width: 300px;
}

.sidebar-ads img {
	margin: 2px;
	padding: 0px;
}

.sidebar-about {
	margin: 0;
	padding: 20px;
	background: #e2e3de;
	width: 300px;
}	

.comment{
height:100%;
padding:60px 0px 0px 0px;
margin:0px 30px 0 0px;
color:#4B4948;
text-align: left;
}		

#commentform {
padding:30px;
margin:0px 0px 0px 0px;
color:#4B4948;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
background: #EBECE6;
overflow: hidden;
border-radius: 0px;
height: 350px;
}

#commentform textarea {
padding:20px; 
border:0px solid #CCCCCC; 
margin:10px 10px 0px 0; 
background: #e2e3de;	
font-size:16px; 
color:#888;
width: 430px;
height: 212px;
font-family: georgia;
font-style: italic;
}

.left-comment {
	overflow: hidden;
	width: 370px;
	padding: 0;
	float: left;
	margin: 0 40px 0 0;
	
}

.right-comment {
	overflow: hidden;
	width:430px;
	margin: 0;
	padding: 0;
	float: left;
}

#commentform input {
border:0px solid #CCCCCC;
margin:0px 10px 33px 0;  
font-size:17px; 
color:#888;
width: 350px;
float: left;
background: #e2e3de;
padding: 12px;
font-family: georgia;
font-style: italic;
text-shadow: 1px 1px 0 #fff;
height: 45px;
}

#commentform input:nth-child(4) {
margin:0px;  
}

ol.commentlist { 
list-style:none; 
margin:0 0 -250px 0; 
padding:0 0 0px 0; 
text-indent:0; 
}
	
	
.comments input#submit {
background: #333; 
border:0px solid #000; 
font-size:13px; 
padding:5px 15px 4px 15px; 
color:#fff; 
font-weight: bold; 
text-transform: uppercase; 
margin: 30px 0px 0 0; 
cursor: pointer;
width: 160px;
font-family: arial;
float: right;
font-style: normal;
text-shadow: 1px 1px 0 #000;
}	